<div class="container mt-5 mb-5">
  <form action="/restaurant/{{ restaurant._id }}/edit" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">餐廳名稱</label>
      <input type="text" class="form-control" id="name" name="name" value="{{ restaurant.name }}" placeholder="必填" />
    </div>
    <div class="mb-3">
      <label for="name_en" class="form-label">餐廳英語名稱</label>
      <input type="text" class="form-control" id="name_en" name="name_en" value="{{ restaurant.name_en }}" placeholder="必填" />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">分類</label>
      <input type="text" class="form-control" id="category" name="category" value="{{ restaurant.category }}" placeholder="必填" />
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">餐廳地址</label>
      <input type="text" class="form-control" id="location" name="location" value="{{ restaurant.location }}" placeholder="必填" />
    </div>
    <div class="mb-3">
      <label for="google_map" class="form-label">餐廳 Google Map 連結</label>
      <input type="url" class="form-control" id="google_map" name="google_map" value="{{ restaurant.google_map }}" placeholder="必填" />
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">餐廳圖片連結</label>
      <input type="url" class="form-control" id="image" name="image" value="{{ restaurant.image }}" placeholder="必填" />
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">餐廳電話</label>
      <input type="tel" class="form-control" id="phone" name="phone" value="{{ restaurant.phone }}" placeholder="必填" />
    </div>
    <div class="mb-3">
      <label for="rating" class="form-label">評價</label>
      <input type="number" class="form-control" id="rating" name="rating" step="0.1" value="{{ restaurant.rating }}" placeholder="必填" />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">餐廳介紹</label>
      <textarea class="form-control" id="description" rows="3" name="description" placeholder="必填">{{ restaurant.description }}</textarea>
    </div>
    <button type="submit" class="btn btn-major">送出</button>
    <a href="/" class="btn btn-major">返回首頁</a>
    <a href="/restaurant/{{ restaurant._id }}" class="btn btn-major">放棄編輯</a>
  </form>
</div>

<script>
  document.querySelector('form').addEventListener('submit', function (event) {
    const inputs = document.querySelectorAll('input');
    for (let i = 0; i < inputs.length; i++) {
      if (inputs[i].value === '') {
        event.preventDefault();
        alert('請填寫所有欄位。');
        break;
      }
    }
  });
</script>